@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e4vhjz');
  src:  url('fonts/icomoon.eot?e4vhjz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e4vhjz') format('truetype'),
    url('fonts/icomoon.woff?e4vhjz') format('woff'),
    url('fonts/icomoon.svg?e4vhjz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb_icon-iconscom_65434:before {
  content: "\e900";
}
.icon-LinkedIn_Rounded_icon-iconscom_61573:before {
  content: "\e901";
}
.icon-twitter_icon-iconscom_65436:before {
  content: "\e902";
}
